
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #003399 !default;
$header-bg-color-secondary: #3399CC !default;

// Text
$section-headings-color: #003399 !default;
$body-text-color: #000 !default;
$body-link-color: #0000FF !default;
$blockquote-text-color: #000 !default;
